<ul>
<% @articles.each do |article| %>
<li>
  <h1><%= link_to article.title, article %></h1>
  <br>
  <p><%= article.content %></p>
</li>
<% end %>
</ul>
<br>

<%= link_to 'New Article', new_article_path %>
